.appt-intro,
.contact,
.cta-section,
.form-container,
.form-submit,
.pdf-container {
    text-align: center
}

.appt-intro p,
.contact p,
.cta-section p,
.pdf-container p {
    font-family: var(--text-font)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    scroll-behavior: smooth
}

:root {
    --heading-font: 'Playfair Display', serif;
    --text-font: 'Lora', serif;
    --background-color: #e5f8e5;
    --primary-color: #A8D5BA;
    --accent-color: #A7C7E7;
    --heading-color: #2C6E49;
    --text-color: #4A4A4A;
    --button-color: #6CA6C1;
    --button-hover: #4F91B8;
    --border-color: #DCEAE3;
    --text-white: #ffff
}

.appt-intro {
    position: relative;
    top: 100px;
    background: linear-gradient(90deg, #a1defa, #9eecc0);
    padding: 40px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    max-width: 100%;
    margin: 20px auto
}

.appt-intro p {
    color: #555;
    font-size: 18px;
    line-height: 1.6
}

.contact p,
.cta-section p {
    color: #4a4a4a
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 35px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    margin-bottom: 40px;
    font-weight: 700
}

.contact p,
.submit-button {
    font-size: 18px
}

.heading::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: linear-gradient(90deg, #5797f7, #5add93);
    border-radius: 2px
}

.contact-container,
.form {
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    align-items: center
}

.form-container {
    padding: 20px 100px;
    border-radius: 15px;
    border: 2px solid #87ceeb;
    width: 900px;
    font-size: 18px;
    background-color: #e9f7fd
}

.appointment-form {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

.appointment-form h2 {
    text-align: center;
    color: #139eee; /* soft sky blue */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    /* font-weight: bold; */
    color: #000; /* soft green */
}

form input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a0d6b4; /* soft greenish border */
    border-radius: 8px;
    background-color: #f8fffc;
    font-size: 16px;
    color: #070707;
}

input::placeholder, select {
    color: #797676;
}

.name-fields {
    display: flex;
    gap: 10px;
}

.name-fields input {
    flex: 1;
}

.form-submit {
    text-align: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #38b6ff; /* soft sky blue */
    color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #4caf50; /* soft green */
}

/* Responsive */
@media (max-width: 600px) {
    .name-fields {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {

    .appt-intro p,
    .contact p,
    .submit-button,
    input,
    select {
        font-size: 16px
    }

    .appt-intro {
        padding: 30px 15px
    }

    .appt-intro .heading {
        font-size: 30px
    }

    .contact-container,
    .form {
        top: 100px;
        padding: 20px
    }

    .form-container {
        width: 90%;
        padding: 20px 50px
    }

    input,
    select {
        padding: 8px
    }

    .submit-button {
        padding: 10px 40px
    }

    .contact {
        width: 90%;
        padding: 20px
    }
}

@media screen and (max-width:480px) {
    .appt-intro {
        padding: 25px 10px
    }

    .appt-intro .heading {
        font-size: 26px
    }

    .appt-intro p {
        font-size: 15px
    }

    .contact p,
    .submit-button,
    input,
    select {
        font-size: 14px
    }

    .contact-container,
    .form {
        top: 100px;
        padding: 15px;
        margin-top: 50px
    }

    .contact,
    .form-container {
        width: 95%;
        padding: 15px
    }

    input,
    select {
        padding: 6px
    }

    .submit-button {
        padding: 8px 30px
    }
}

@media screen and (max-width:340px) {
    .appt-intro {
        padding: 20px 8px
    }

    .appt-intro .heading {
        font-size: 22px
    }

    .appt-intro p {
        font-size: 14px
    }

    .contact p,
    .submit-button,
    input,
    select {
        font-size: 13px
    }

    .contact-container,
    .form {
        top: 60px;
        padding: 10px
    }

    .contact,
    .form-container {
        width: 100%;
        padding: 10px
    }

    input,
    select {
        padding: 5px
    }

    .submit-button {
        padding: 6px 20px
    }
}

.cta-section,
.faq-section {
    position: relative;
    top: 130px
}

.faq-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.accordion-button {
    background-color: #8dc0ec !important;
    color: #fff !important
}

.accordion-button:not(.collapsed) {
    background-color: #6aa5d8 !important;
    color: #fff !important
}

.accordion-button:focus {
    box-shadow: none !important
}

.cta-section {
    padding: 20px 0;
    background-color: #e5f8ef
}

.cta-section p {
    font-size: 20px
}

.call-button,
.cta-button {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background: var(--button-color);
    border-radius: 15px;
    text-decoration: none;
    transition: .3s
}

.call-button {
    margin-left: 10px
}

.call-button:hover,
.cta-button:hover {
    background: var(--button-hover)
}

@media screen and (max-width:768px) {
    .contact {
        width: 100%;
        padding: 20px;
        margin: 30px auto
    }

    .contact p {
        font-size: 16px
    }

    .cta-section,
    .faq-section {
        top: 100px;
        padding: 20px
    }

    .cta-section p {
        font-size: 18px
    }

    .call-button,
    .cta-button {
        font-size: .9rem;
        padding: 10px 20px
    }
}

@media screen and (max-width:480px) {
    .contact {
        width: 90%;
        padding: 15px;
        margin: 20px auto
    }

    .faq-section {
        top: 80px
    }

    .cta-section {
        top: 80px;
        padding: 15px
    }

    .cta-section p {
        font-size: 16px
    }

    .call-button,
    .cta-button {
        font-size: .85rem;
        padding: 8px 18px
    }

    .call-button {
        margin-left: 5px
    }
}

@media screen and (max-width:340px) {
    .contact {
        width: 95%;
        padding: 10px
    }

    .faq-section {
        top: 60px;
        width: 100%;
        padding: 5px
    }

    .cta-section {
        top: 60px;
        padding: 10px
    }

    .cta-section p {
        font-size: 14px
    }

    .call-button,
    .cta-button {
        font-size: .8rem;
        padding: 6px 15px;
        border-radius: 10px
    }
}

.pdf-container {
    position: relative;
    top: 150px;
    margin: 50px auto;
    background-color: #d5e2f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #baf7ba;
    gap: 20px
}

.pdf-container p {
    font-size: larger
}

.pdf-container button {
    border: none;
    background: linear-gradient(90deg, #8bd8ac, #87a5d3);
    color: #000;
    transition: .5s ease-in
}

.pdf-container button:hover {
    background: #5797f7
}

@media (max-width:768px) {
    .pdf-container {
        width: 90%;
        top: 100px;
        padding: 20px
    }
}

@media (max-width:480px) {
    .pdf-container {
        width: 95%;
        top: 80px;
        gap: 15px
    }

    .pdf-container p {
        font-size: medium
    }

    .pdf-container button {
        padding: 8px 15px;
        font-size: 14px
    }
}